:root {
    --charcoal: #2c2828;
    --frost: #41bed2;
    --sanguine: #6a0b0b;
    --linen: #d5d4c8;
}

::selection {
    background-color: var(--sanguine);
    color: var(--frost);
}

body {
    font-family: sans-serif;
    background-color: var(--charcoal);
    color: var(--linen);
}

h1 {
    color: var(--charcoal);
    padding: 5px 15px 5px 30px;
    font-weight: 600;
    line-height: 1.5;
    font-size: 175%;
}

h2 {
    color: var(--frost);
    font-weight: 600;
    line-height: 1.5;
    font-size: 150%;
}

header {
    width: 100%;
    margin: 10px 10px 10px 0px;
    padding: 0;
    text-align: left;
}

header h1 {
    display: inline-block;
    background-color: var(--frost);
}

header nav {
    float: right;
}

header nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 8px;
    margin: 5px 30px 5px 5px;
    color: var(--frost);
    font-weight: bold;
    border-bottom: solid 3px;
}

figure {
    height: 150px;
    width: 100%;
    background-image: linear-gradient(
        var(--sangiune) 0%,
        var(--charcoal) 100%
    );
}

figure h2 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: var(--frost);
    color: var(--charcoal);
    width: 200px;
    float: right;
}

section {
    display: flex;
    margin: 10;
    padding: 15px 15px 15px 50px;
}

section h2 {
    padding: 10px;
    border-right: solid 3px;
    text-align: right;
    min-width: 100px;
}

section p {
    display: flex;

    margin: 10px;
    padding: 10px;
}

article {
    display: flex;
    margin: 10;
    padding: 15px 15px 15px 50px;
}

article h2 {
    padding: 10px;
    border-right: solid 3px;
    text-align: right;
    min-width: 100px;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

footer h2 {
    padding: 10px;
    border-right: solid 3px;
    text-align: right;
    min-width: 140px;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
}

footer ul li {
    flex-wrap: wrap;
    color: var(--frost);
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border-bottom: solid 3px;
}