:root {
    --charcoal: #2c2828;
    --frost: #41bed2;
    --darkred: #8a1717;
    --linen: #d5d4c8;
}

::selection {
    background-color: var(--darkred);
    color: var(--frost);
}

body {
    font-family: sans-serif;
    background-color: var(--charcoal);
    color: var(--linen);
}

h1 {
    color: var(--charcoal);
    padding: 5px 15px 5px 30px;
    font-weight: 600;
    line-height: 1.5;
    font-size: 200%;
}

h2 {
    color: var(--frost);
    font-weight: 600;
    line-height: 1.5;
    font-size: 150%;
}

header {
    width: 100%;
    margin: 10px 10px 0px 0px;
    text-align: left;
    border-bottom: solid var(--linen) 3px;
}

header h1 {
    display: inline-block;
    background-color: var(--frost);
    border-right: solid 3px var(--linen);
    border-top: solid 3px var(--linen);
}

header nav {
    float: right;
    padding-right: 10px;
    padding-top: 10px;
}

header nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 8px;
    margin: 5px 30px 5px 5px;
    color: var(--frost);
    font-weight: bold;
    border-bottom: solid 3px;
}

#about-me {
    color: var(--frost);
}

#work {
    color: var(--frost);
}

#contact-me {
    color: var(--frost);
}

.nav-link:hover {
    background-color: var(--darkred);
    box-shadow: 0px 0px 6px 3px var(--frost);
}

a:link {
    color: var(--frost);
}

a:visited {
    color: var(--linen);
}

.banner {
    height: 160px;
    width: 100%;
    background-image: linear-gradient(var(--darkred), var(--charcoal));
}

.tag-line {
    background-color: var(--frost);
    color: var(--charcoal);
    float: right;
    margin-top: 115px;
    padding: 5px 10px 5px 10px;
}

.section {
    width: 90%;
    display: flex;
    margin: 10;
    padding: 15px 15px 15px 50px;
}

.section-title {
    padding: 10px;
    border-right: solid 3px;
    text-align: right;
    min-width: 100px;
}

.about-section-par {
    margin: 10px;
    padding: 10px;
    font-size: 110%;
}

.pic-container {
    max-width: 90%;
    display: flex;
    flex-direction: column;
}

.top-pic {
    /* height: 30%; */
    object-fit: cover;
}

.lg-pic {
    margin-left: 45px;
    width: 93%;
    height: 400px;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(135, 43, 43, 0.943);
    transition: 0.4s;
    border: solid var(--frost) 3px;
}

.sm-pic{
    width: 45%;
    margin: 0 20px 20px 20px;
    object-fit: cover;
    margin: 5px 20px 10px 20px;
    box-shadow: 0 4px 8px 0 rgba(135, 43, 43, 0.943);
    transition: 0.4s;
    border: solid var(--frost) 3px;
}

.pic-hover:hover {
    box-shadow: 0 12px 20px 8px rgba(233, 29, 29, 0.843);
}

.row{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.margin-top-twenty {
    margin-top: 20px;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: 90%;
}

footer h2 {
    padding: 10px;
    border-right: solid 3px;
    text-align: right;
    min-width: 100px;
}

.foot-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
}

footer ul li {
    flex-wrap: wrap;
    color: var(--frost);
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border-bottom: solid 3px;
}