:root {
    --charcoal: #2c2828;
    --frost: #41bed2;
    --sanguine: #6a0b0b;
    --linen: #d5d4c8;
}

::selection {
    background-color: var(--sanguine);
    color: var(--frost);
}

body {
    font-family: sans-serif;
    background-color: var(--charcoal);
    color: var(--linen);
}

h1 {
    color: var(--charcoal);
    padding: 5px 15px 5px 30px;
    font-weight: 600;
    line-height: 1.5;
    font-size: 175%;
}

h2 {
    color: var(--frost);
    font-weight: 600;
    line-height: 1.5;
    font-size: 150%;
}

header {
    width: 100%;
    margin: 10px 10px 10px 0px;
    padding: 0;
    text-align: left;
}

header h1 {
    display: inline-block;
    background-color: var(--frost);
}

header nav {
    float: right;
}

header nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 8px;
    margin: 8px;
    color: var(--frost);
    font-weight: bold;
    border-bottom: solid 3px;
}

figure {
    width: 100%;
    height: 30%;
    background-image: linear-gradient(
        var(--sangiune) 0%,
        var(--charcoal) 100%
    );
}

figure h2 {
    background-color: var(--frost);
    color: var(--charcoal);
    width: 200px;
    float: right;
}

section {
    margin: 0 auto;
    padding: 15px 15px 15px 50px;
}

section h2 {
    border-right: solid 3px;
    float: left;

}

section h2 p {
    float: right;
}

article {
    margin: 0 auto;
    padding: 15px 15px 15px 50px;
}

footer {
    display: inline-block;
    width: 100%;
    margin: 10px;
    padding: 30px;
    text-align: left;
}

footer h2 {
    /* display:inline-block; */
    float: left;
    border-right: solid 3px;
    padding: 20px 20px 20px 0;
}

footer ul li {
    display: inline-block;
    justify-content: space-around;
    padding: 10px 10px 10px 10px;
    margin: 5px 0px 5px 10px;
    font-weight: bold;
    color: var(--frost);
    border-bottom: solid 3px;
}